{% extends 'base.html' %}
{% load static %}

{% block title %}Strona domowa{% endblock %}

{% block content %}
    <div class="container-lg mb-5">
        {#    Posts#}
        <p class="text-center text">Wiadomości</p>
        {% for post, profile, unique_id in posts_and_profiles_and_unique %}
            <div class="card mx-auto mb-3" style="max-width: 1000px;">
                <div class="card-header text-center bg-light" style="border: 1px solid; border-bottom: 1px">
                    {{ post.owner }}
                    {#                                <img src="{% static 'images/user_icon.svg' %}"#}
                    {#                                     class="img-fluid rounded-circle z-depth-2"#}
                    {#                                     style="object-fit: scale-down; width: 25px;" alt="Post picture">#}
                </div>
                <div class="row g-0">
                    <div class="">
                        <div class="card-body h-100 text-center" style="border: 1px solid">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted text-center fw-lighter"
                     style="border: 1px solid; border-top: 1px">
                    {{ post.created_date }}
                </div>
                <button class="btn btn-outline-secondary mt-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#{{ unique_id }}" aria-expanded="false" aria-controls="collapseExample">
                    Zobacz zdjęcie
                </button>
                <div class="collapse" id="{{ unique_id }}">
                    <div class="card">
                        {% if post.post_image %}
                            <img class="card-img-top img-thumbnail"
                                 style="height: auto; width: auto; object-fit: scale-down"
                                 src="{{ post.post_image.url }}" alt="Post picture">
                        {% else %}
                            <img class="card-img-top img-thumbnail"
                                 style="height: auto; width: auto; object-fit: scale-down"
                                 src="{% static 'images/default_post_icon.svg' %}" alt="Post picture">
                        {% endif %}
                    </div>
                </div>
                <a href="{% url 'management_app:thread_view' post.id %}"
                   class="btn btn-outline-secondary mt-3 form-control">Zobacz
                    wątek</a>
            </div>
            <br><br>
        {% endfor %}

        {#    pagination#}

        <nav aria-label="...">
            <ul class="pagination justify-content-center">

                {% if posts_instance_paginator.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a>
                    </li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ posts_instance_paginator.previous_page_number }}">Poprzednia
                        strona</a></li>
                {% endif %}

                {#            {% for i in nums %}#}
                {#                <li class="page-item" aria-current='page'><a class="page-link"#}
                {#                                                             href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>#}
                {#                </li>#}
                {#            {% endfor %}#}

                {% if posts_instance_paginator.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ posts_instance_paginator.next_page_number }}">Następna
                        strona</a></li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ posts_instance_paginator.paginator.num_pages }}">&raquo;</a>
                    </li>
                {% endif %}

            </ul>
            <div class="text-center mb-5">
                Strona {{ posts_instance_paginator.number }} z {{ posts_instance_paginator.paginator.num_pages }}
            </div>
        </nav>


        {#    Events#}
        <hr class="mx-auto" style="max-width: 1000px;">
        <p class="text-center text mt-5">Wydarzenia</p>
        {% for event in events_instance %}
            <div class="card mx-auto mb-3" style="max-width: 1000px;">
                {% if event.event_image %}
                    <img src="{{ event.event_image.url }}"
                         class="card-img-top img-thumbnail"
                         alt="Event picture 1" style="max-height: 18rem; object-fit: scale-down">
                {% else %}
                    <img src="{% static 'images/default_event_icon.svg' %}"
                         class="card-img-top img-thumbnail"
                         alt="Event picture 1" style="max-height: 18rem; object-fit: scale-down">
                {% endif %}

                <div class="card-body text-center">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">Data: <i>{{ event.date }}</i></p>
                    <p class="card-text">Miejsce: <i>{{ event.place }}</i></p>
                </div>
                <a href="{% url 'management_app:event_detailed_view' event.id %}"
                   class="btn btn-primary form-control">Szczegóły</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
