{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Zarejestruj się{% endblock %}

{% block content %}
    <div class="container-lg mb-5">
                <div class="card mx-auto" style="max-width: 1000px;">
                    <div class="card-body">
                        <h2 class="text-center text-uppercase mb-4">Rejestracja</h2>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary form-control">Zarejestruj!</button>
                            </div>
                        </form>
                    </div>
                    <a href="{% url 'users_app:login_view' %}" class="btn btn-link">Zaloguj się!</a>
                </div>
            </div>
{% endblock %}
