{% extends 'base.html' %}
{% load static %}

{% block title %}Usuń wydarzenie{% endblock %}

{% block content %}
    <div class="container-lg mb-5">
            <div class="card mx-auto" style="max-width: 600px;">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="text-center alert alert-danger" role="alert">
                            czy na pewno chcesz usunąć wydarzenie: <b>{{ event_instance.title }}</b>
                        </div>
                        <button type="submit" class="btn btn-danger mt-3 form-control">Tak, usuń!</button>
                    </form>
                </div>
            </div>
    </div>
{% endblock %}
