{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Szczegóły oferty{% endblock %}

{% block content %}
    <div class="row justify-content-center mt-3">
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">[{{ offer.type }}] {{ offer.title }}</h3>
                    <h6 class="card-title">Wystawca: {{ offer.owner }}</h6>
                    <h6 class="card-title">Cena PLN: {{ offer.price }}</h6>
                    <h6 class="card-title">Stan: {{ offer.condition }}</h6>
                    <h6 class="card-title">Opis:</h6>
                    <p class="text-center card-text mt-4">{{ offer.description }}</p>
                    <h6 class="card-title">URL: {{ offer.url }}</h6>
                    <p class="card-text"><small class="text-muted">Data utworzenia: {{ offer.created_date }}</small></p>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="col-md-12">
                            {% if is_creator %}
                                <a href="{% url 'management_app:offer_edit_view' offer.id %}"
                                   class="btn btn-primary mt-3">Edytuj</a>
                                <a href="{% url 'management_app:offer_delete_view' offer.id %}"
                                   class="btn btn-danger mt-3">Usuń!</a>
                                {#                            <button type="submit" class="btn btn-danger mt-3" name="delete_button">Usuń!</button>#}
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
            <img class="card-img-bottom" src="{{ offer.offer_image.url }}" alt="Card image cap">
        </div>
    </div>
{% endblock %}
