{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Profil{% endblock %}

{% block content %}
    <div class="container-lg mb-5">
        <section class="vh-100">
            <div class="container py-5">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col col-lg-6 mb-4 mb-lg-0">
                        <div class="card mb-3" style="border-radius: .5rem;">
                            <div class="row g-0">
                                <div class="col-md-4 gradient-custom text-center text-white"
                                     style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                    {% if profile_instance.profile_image %}
                                        <img
                                                src="{{ profile_instance.profile_image.url }}"
                                                alt="Avatar"
                                                class="img-fluid my-5 rounded-circle z-depth-2"
                                                style="width: 150px;"
                                        />
                                    {% else %}
                                        <img
                                                src="{% static 'images/user_icon.svg' %}"
                                                alt="Avatar"
                                                class="img-fluid my-5 rounded-circle z-depth-2"
                                                style="width: 150px;"
                                        />
                                    {% endif %}
                                    <h5><i>{{ user.username }}</i></h5>
                                    <p><i>id: {{ user.id }}</i></p>
                                    <p>
                                        <a href="{% url 'management_app:profile_edit_view' user.id %}"
                                           class="btn btn-outline-light">Edytuj profil</a>
                                    </p>
                                    <i class="far fa-edit mb-5"></i>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-4">
                                        <h6>Informacje</h6>
                                        <hr class="mt-0 mb-4">
                                        <div class="row pt-1">
                                            <div class="col-6 mb-3">
                                                <h6><i>Email</i></h6>
                                                <p class="text-muted">{{ user.email }}</p>
                                            </div>
                                            <div class="col-6 mb-3">
                                                <h6><i>Ksywa</i></h6>
                                                <p class="text-muted">{{ profile_instance.nick_name }}</p>
                                            </div>
                                        </div>
                                        <h6>Sprzęt</h6>
                                        <hr class="mt-0 mb-4">
                                        <div class="row pt-1">
                                            <div class="col-6 mb-3">
                                                <h6>Replika główna</h6>
                                                <p class="text-muted">{{ profile_instance.lead_replica }}</p>
                                            </div>
                                            <div class="col-6 mb-3">
                                                <h6>Replika zapasowa</h6>
                                                <p class="text-muted">{{ profile_instance.additional_replica }}</p>
                                            </div>
                                            <div class="col-6 mb-3">
                                                <h6>Replika boczna</h6>
                                                <p class="text-muted">{{ profile_instance.side_replica }}</p>
                                            </div>
                                            <div class="col-6 mb-3">
                                                <h6>Ulubione miejsce</h6>
                                                <p class="text-muted">{{ profile_instance.best_place }}</p>
                                            </div>
                                            <div class="col-6 mb-3">
                                                <h6>Opis sprzętu</h6>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="">{{ profile_instance.gear }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="mb-4">
                                    <button class="btn btn-outline-info form-control" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseExample" aria-expanded="false"
                                            aria-controls="collapseExample">
                                        Rozwiń listę wydarzeń, w których bierzesz udział &darr;
                                    </button>
                                </p>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                                        {% for event in events_instance %}
                                            {% if user in event.participants.all %}
                                                <ul class="list-group list-group-flush text-center">
                                                    <li class="list-group-item"><a
                                                            href="{% url 'management_app:event_detailed_view' event.id %}"
                                                            class="link-info"
                                                            style="text-decoration: none">{{ event.title }}</a></li>
                                                </ul>
                                            {% endif %}
                                        {% endfor %}
                                        <button class="btn btn-outline-info form-control mt-3" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseExample" aria-expanded="false"
                                                aria-controls="collapseExample">
                                            Zwiń listę &uarr;
                                        </button>

                                    </div>
                                </div>

                                <a href="{% url 'management_app:add_event_view' %}"
                                   class="btn btn-outline-primary mt-3">Stwórz wydarzenie</a>
                                <a href="{% url 'management_app:add_offer_view' %}"
                                   class="btn btn-outline-secondary mt-3">Dodaj ogłoszenie na giełdzie</a>
                                <a href="{% url 'management_app:add_post_view' %}" class="btn btn-outline-primary mt-3">Dodaj
                                    wiadomość na stronie głównej</a>
                                <a href="" class="btn btn-outline-secondary mt-3">Dodaj ankietę na stronie głównej</a>
                                <a href="" class="btn btn-outline-primary mt-3">Dodaj miejsce</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
